[Unit]
Description=Haneul Node

[Service]
User=haneul
WorkingDirectory=/opt/haneul/
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,haneul_core=debug,narwhal=debug,consensus=debug,jsonrpsee=error
ExecStart=/opt/haneul/bin/haneul-node --config-path /opt/haneul/config/validator.yaml
Restart=always

[Install]
WantedBy=multi-user.target
