@font-face {font-family: haneul-icons;
    src: url('./haneul-icons.eot');
    src: url('./haneul-icons.eot#iefix') format('embedded-opentype'),
    url("./haneul-icons.woff2") format("woff2"),
    url("./haneul-icons.woff") format("woff"),
    url('./haneul-icons.ttf') format('truetype'),
url('./haneul-icons.svg#haneul-icons') format('svg');
}

[class^="haneul-icons-"], [class*=" haneul-icons-"] {
    font-family: haneul-icons !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.haneul-icons-apps:before { content: "\ea01"; }
.haneul-icons-arrow-left:before { content: "\ea02"; }
.haneul-icons-arrow-right:before { content: "\ea03"; }
.haneul-icons-clipboard:before { content: "\ea04"; }
.haneul-icons-close:before { content: "\ea05"; }
.haneul-icons-coins:before { content: "\ea06"; }
.haneul-icons-globe:before { content: "\ea07"; }
.haneul-icons-hand-coins:before { content: "\ea08"; }
.haneul-icons-history:before { content: "\ea09"; }
.haneul-icons-logout:before { content: "\ea0a"; }
.haneul-icons-nfts:before { content: "\ea0b"; }
.haneul-icons-percentage-polygon:before { content: "\ea0c"; }
.haneul-icons-person:before { content: "\ea0d"; }
.haneul-icons-haneul-chevron-right:before { content: "\ea0e"; }
.haneul-icons-haneul-logo-icon:before { content: "\ea0f"; }
.haneul-icons-haneul-logo-txt:before { content: "\ea10"; }
.haneul-icons-tokens:before { content: "\ea11"; }

$haneul-icons-apps: "\ea01";
$haneul-icons-arrow-left: "\ea02";
$haneul-icons-arrow-right: "\ea03";
$haneul-icons-clipboard: "\ea04";
$haneul-icons-close: "\ea05";
$haneul-icons-coins: "\ea06";
$haneul-icons-globe: "\ea07";
$haneul-icons-hand-coins: "\ea08";
$haneul-icons-history: "\ea09";
$haneul-icons-logout: "\ea0a";
$haneul-icons-nfts: "\ea0b";
$haneul-icons-percentage-polygon: "\ea0c";
$haneul-icons-person: "\ea0d";
$haneul-icons-haneul-chevron-right: "\ea0e";
$haneul-icons-haneul-logo-icon: "\ea0f";
$haneul-icons-haneul-logo-txt: "\ea10";
$haneul-icons-tokens: "\ea11";

