@font-face {font-family: haneul-icons;
    src: url('./haneul-icons.eot');
    src: url('./haneul-icons.eot#iefix') format('embedded-opentype'),
    url("./haneul-icons.woff2") format("woff2"),
    url("./haneul-icons.woff") format("woff"),
    url('./haneul-icons.ttf') format('truetype'),
    url('./haneul-icons.svg#haneul-icons') format('svg');
    font-display: block;
}

[class^="haneul-icons-"], [class*=" haneul-icons-"] {
    font-family: haneul-icons !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.haneul-icons-Buy:before { content: "\ea01"; }
.haneul-icons-Info:before { content: "\ea02"; }
.haneul-icons-Preview:before { content: "\ea03"; }
.haneul-icons-apps:before { content: "\ea04"; }
.haneul-icons-arrow-left:before { content: "\ea05"; }
.haneul-icons-arrow-right:before { content: "\ea06"; }
.haneul-icons-checkmark:before { content: "\ea07"; }
.haneul-icons-clipboard:before { content: "\ea08"; }
.haneul-icons-close:before { content: "\ea09"; }
.haneul-icons-coins:before { content: "\ea0a"; }
.haneul-icons-globe:before { content: "\ea0b"; }
.haneul-icons-hand-coins:before { content: "\ea0c"; }
.haneul-icons-history:before { content: "\ea0d"; }
.haneul-icons-logout:before { content: "\ea0e"; }
.haneul-icons-nfts:before { content: "\ea0f"; }
.haneul-icons-percentage-polygon:before { content: "\ea10"; }
.haneul-icons-person:before { content: "\ea11"; }
.haneul-icons-search:before { content: "\ea12"; }
.haneul-icons-haneul-chevron-right:before { content: "\ea13"; }
.haneul-icons-haneul-logo-icon:before { content: "\ea14"; }
.haneul-icons-haneul-logo-txt:before { content: "\ea15"; }
.haneul-icons-tokens:before { content: "\ea16"; }
.haneul-icons-version-icon:before { content: "\ea17"; }

$haneul-icons-Buy: "\ea01";
$haneul-icons-Info: "\ea02";
$haneul-icons-Preview: "\ea03";
$haneul-icons-apps: "\ea04";
$haneul-icons-arrow-left: "\ea05";
$haneul-icons-arrow-right: "\ea06";
$haneul-icons-checkmark: "\ea07";
$haneul-icons-clipboard: "\ea08";
$haneul-icons-close: "\ea09";
$haneul-icons-coins: "\ea0a";
$haneul-icons-globe: "\ea0b";
$haneul-icons-hand-coins: "\ea0c";
$haneul-icons-history: "\ea0d";
$haneul-icons-logout: "\ea0e";
$haneul-icons-nfts: "\ea0f";
$haneul-icons-percentage-polygon: "\ea10";
$haneul-icons-person: "\ea11";
$haneul-icons-search: "\ea12";
$haneul-icons-haneul-chevron-right: "\ea13";
$haneul-icons-haneul-logo-icon: "\ea14";
$haneul-icons-haneul-logo-txt: "\ea15";
$haneul-icons-tokens: "\ea16";
$haneul-icons-version-icon: "\ea17";

